@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page-enter-active, .page-leave-active {
    transition: opacity 0.5s
}

.page-enter, .page-leave-active {
    opacity: 0;
}
